In [1]:
### PYTHON  ASSIGNMENT 1 ###

In [2]:
#1.finding no.s between 2000 and 3200 viz divisible by 7, multiple of 5

n = range(2000,3201)
for i in n:
     if (i%7==0) and (i%5==0):
        print(i)

2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975
3010
3045
3080
3115
3150
3185

In [3]:
# 2.accept fist and last name of the user and save in rverse order separated by space
x = input('Enter your first name:')

Enter your first name:DIPALI

In [4]:
y = input ('Enter your last name:')

Enter your last name:KOTHAWADE

In [5]:
a=[x,y]
a.reverse()
print(*a)

KOTHAWADE DIPALI

In [6]:
# 3.find volume of the sphere with diameter 12cm(v=4/3*(3.14*r))

In [7]:
a=float(4/3)
b=float(3.14)

In [8]:
d =float (input())
e = float (2)
r=float(d/e)

12

In [9]:
r

6.0

In [10]:
v=float(a*b*r)

In [11]:
v

25.119999999999997